/* Main app specific css file */

body
{
	background-image: url( '../images/grid.png' );
	background-size: contain;
	background-repeat: repeat-y;
	text-align: center;
}

/** Absolutely everything that appeas on the ENTIRE web page should be in this big box
	* Except the header - which should completely span the top.
	*/
#bigbox
{
	width: 1000px;
	margin: 0px auto;
}

/** Here are the things that can appear inside the tabs
	*
	*/

/** Dashboard per thermostat/location appearance
	*
	*/
div.status
{
	display: inline-block; 
	margin: 0px;
	margin-left: 50px;
	float: left;
	width: 400px;
	height: 200px;
	overflow-y: auto;
}
div.status p
{
	padding: 5px;
	top: -24px;
	vertical-align: middle;
}
div.forecast
{
	margin: 0px;
	margin-right: 50px;
	float: right;
}

/** Sprite map to replace individual graphics
	*
	* When adding new images to the sprite map do the following steps.
	*
	* 1. Determine width of new sprite and make the whole image that many pixels wider.
	* 2. Add the new sprite to the LEFT side of the sprite map.
	* 3. Compute the background-position to be offset from top left of new sprite to top right of whole map
	*
	*  Define sprite map basics
	*/
div.status img
{
	vertical-align: middle;
	height: 48px;
	width: 48px;
	background-image: url( '../images/HVAC-Bar.png' );
}

/** Locate individual sprites within the map.
	*
	*/
div.status img.fan_on
{
	background-position: 192px 0px;
}
div.status img.fan_off
{
	background-position: 192px -48px;
}
div.status img.compressor_on
{
	background-position: 144px 0px;
}
div.status img.compressor_off
{
	background-position: 144px -48px;
}
div.status img.heater_on
{
	background-position: 96px 0px;
}
div.status img.heater_off
{
	background-position: 96px -48px;
}
div.status img.wheels
{
	background-position: 336px 0px;
}

/** Charts and tables
	*
	*/
div.thermo_chart
{
	position: relative;
	height: 430px; 
	width: 900px; 
	margin-left: auto;
	margin-right: auto;
}

div.daily_temperature_table
{
	position: relative;
	height: 113px;
	width: 540px;
	float: right;
	background-image: none;
	overflow-y: auto;
	overflow-x: hidden;
}

table.thermo_table
{
	border-collapse: collapse;	/* Show a single line around each cell instead of a double line */
	white-space: nowrap;				/* Do not allow any text (I'm look at you date string) to wrap */
}

table.thermo_table th
{
	border: 1px solid black;
	color: #550F55;
}

table.thermo_table td
{
	border: 1px solid black;
	color: blue;
}

body.account
{
	margin: 10px;
}

